<section class='container'>
  <section id='contact'>
    <h3>Contact</h3>
    <p>Tel.: 07725911807<p>
    <a href='https://www.facebook.com/Glamourhit'><img src='<%= asset_path('facebook-icon.png') %>'></a>

   <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
      <%= f.input :name, :required => true %>
      <%= f.input :email, :required => true %>
      <%= f.input :message, :as => :text, :required => true %>
      <div class="form-actions">
        <%= f.button :submit, 'Send message', :class=> "btn btn-primary" %>
      </div>
    <% end %>
  </section>
</section>
